
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    
    // This is the linear gradient I used in the example images
    // linear-gradient(to bottom, #111951 0%, #421F6F 30%, #612384 100%);
}